@import '../../rootCSS/root.scss';

.public {
    // background-color: $bg-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    .public-main {
        width: 100%;
        display: flex;
        flex: 1;
        overflow-y: auto;
        scrollbar-width: 2px;
        &::-webkit-scrollbar {
            width: 0.4em;
        }

        .public-left {
            width: 240px;
            height: 100%;
        }

        .public-outlet {
            flex: 1;
            display: flex;
            flex-direction: column;
            // min-height: 100%;
        }

        .public-right {
            // position: absolute;
            // top: 0;
            // bottom: 0;
            // right: 0;
            width: 300px;

            @media only screen and (max-width: 1499px) {
                display: none;
            }
            @media only screen and (min-width: 1500px) {
                display: block;
            }
        }
    }

    .public-player {
        position: relative;
        background-color: $player-color;
        overflow: hidden;
        transition: all 0.5s linear;
        height: 0;
        &.h-90 {
            height: 90px;
        }
        // transform: translateY(100px);
    }
}
